html, body, section{
    height: 100%;
    width: 100%;
} 

h1{
    position: relative;
}

h1::before{ /*traço abaixo do login*/
    position: absolute;
    content: '';
    width: 40px;
    background-color: rgb(255, 0, 0);
    height: 3px;
    bottom: 5px;
    border-radius: 8px;
}
.card{
    height: 70vh;
    width: 100%;
    
    
}

#input-field{
    cursor: text; 
    border-bottom: 1px solid rgb(0, 0, 0); /*linha colorida no input*/
}

#input-field input:focus{
    outline: none;
}


#input-field input {  /*caixinha de digitar */
    border: none;
    background-color: transparent;
    width: 260px;
    font-size: 18px;
    padding: 0px 5px;
}

label{
    font-size: 14px;
    color: #797984;
}

.button-login:hover{
    transform: scale(1.05);
}

#cadastrar-link a{
    text-decoration: none;
    font-size: larger;
}

#cadastrar-link a:hover{
    color: rgb(255, 0, 0);
    transform: scale(1.05);
    
}

@media (min-width: 576px) and (max-width: 767.98px) {
   
    section{
        display: flex;
        flex-direction: column;
    }
    .space-image{
        display: flex;
        justify-content: center;
    }
  }
